@import "settings";
@import "reset";
@import "slick";
@import "slick-theme";
/* -----grid---- */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    padding-top: 20px;
    background-color: transparent;
    z-index: 2;
    position: relative;
    .main-header {
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
    }
    .main-header_logo {
        display: block;
        max-width: 300px;
        margin-top: 20px;
    }
    .main-header_menu {
        ul {
            flex-direction: column;
            justify-content: center;
            width: 100%;
            li {
                padding-top: 20px;
                min-width: 90px;
                a {
                    font-size: 20px;
                    color: $base-blue;
                    font-weight: 700;
                }
            }
        }
    }
    .main-header_refer {
        padding-top: 20px;
        text-align: right;
        font-size: 28px;
        p {
            color: $base-red;
            line-height: 1.5;
            text-align: left;
        }
        a {
            color: $base-blue;
            font-weight: 700;
        }
    }.main-header {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    .small-header
     {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
        ul {
            li {
                display: flex;
                flex-wrap: wrap;
                a {
                    padding: 30px;
                    color: #FFFFFF;
                    background-color: #001343;
                    border-right: 1px solid $base-blue;
                }
                a:last-child {
                    border: 0;
                }
                a:hover,
                .active {
                    background-color: $base-red;
                }
            }
        }
    }
}

main {
    .main-row {
        .banner-container {
            .banner-container_box {
                color: #FFFFFF;
                h1 {
                    display: inline-block;
                    font-size: 40px;
                    max-width: 440px;
                    font-weight: 700;
                }
                span {
                    font-size: 150px;
                    margin-right: 30px;
                }
            }
        }
        .banner-container_form {
            form {
                border: 4px solid $base-red;
                padding-right: 30px;
                padding-left: 40px;
                padding-top: 60px;
                padding-bottom: 60px;
                max-width: 500px;
            }
            label {
                color: #ffffff;
                margin-bottom: 40px;
                img {
                    height: 70px;
                    margin-right: 30px;
                }
                b {
                    font-size: 24px;
                    font-weight: 700;
                    display: block;
                    margin-bottom: 5px;
                }
                span {
                    font-size: 12px;
                    font-weight: 700;
                }
            }
            input {
                display: block;
                background: none;
                outline: none;
                border: none;
                padding-bottom: 20px;
                padding-top: 20px;
                border-bottom: 1px solid #FFFFFF;
                max-width: 600px;
                width: 100%;
                font-size: 18px;
            }
            input:focus {
                font-size: 22px;
            }
            ::-webkit-input-placeholder,
            input,
            a {
                color: #FFFFFF;
            }
            .btn-send,
            a {
                background-color: #fe3246;
                font-size: 13px;
                border: none;
                margin-top: 20px;
                min-height: 40px;
                font-weight: 700;
                width: 100%;
            }
            .btn-send:focus,
            a:focus {
                font-size: 13px;
            }
            .btn-send {
                max-width: 130px;
                margin-right: 20px;
                cursor: pointer;
                padding: 0;
            }
            a {
                max-width: 230px;
                display: block;
                text-align: center;
                line-height: 40px;
            }
        }
    }
    .main-offer {
        max-width: 1500px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
        .ask-que {
            max-width: 480px;
            width: 100%;
            padding-top: 40px;
            align-content: center;
            align-items: center;
            justify-content: center;
            max-height: 440px;
            img {
                height: 50px;
                vertical-align: middle;
                margin-bottom: 30px;
                margin-right: 20px;
            }
            h4 {
                display: inline-block;
                max-width: 315px;
                font-size: 26px;
                font-weight: 700;
                vertical-align: middle;
                color: #212121;
                margin-bottom: 30px;
            }
        }
        .ui-accordion {
            h3 {
                font-size: 16px;
                color: #6e6e6e;
                font-weight: 700;
                outline: 0;
                cursor: pointer;
                padding-bottom: 15px;
            }
            h3:before {
                content: url('../img/ico-ask-1.png');
                width: 24px;
                height: 24px;
                display: inline-block;
                vertical-align: bottom;
                margin-right: 10px;
            }
            .ui-accordion-header-active:before {
                content: url('../img/ico-ask-2.png');
            }
            .ui-accordion-header-active {
                color: $base-red;
            }
            .answer {
                margin-bottom: 35px;
            }
        }
    }
    .small-offer-box {
        width: 100%;
        .small-offer-box_block {
            max-width: 360px;
            width: 100%;
            padding: 25px 0 25px 25px;
            background-color: #000f36;
            align-items: center;
            font-size: 15px;
            font-weight: 700;
            color: #ffffff;
        }
        img {
            height: 40px;
            margin-right: 20px;
        }
    }
    aside {
        background: $base-blue;
        flex-direction: column;
        align-items: flex-end;
        max-width: 400px;
        padding-bottom: 40px;
        padding-top: 40px;
        .side-menu {
            li {
                padding: 15px;
                border-bottom: 2px solid #213a7c;
                max-width: 300px;
                a {
                    color: #ffffff;
                    font-weight: 700;
                    font-size: 18px;
                }
            }
        }
        h3 {
            color: $base-red;
            font-size: 30px;
            max-width: 300px;
            font-weight: bold;
            margin-top: 40px;
        }
        p {
            margin-top: 30px;
            max-width: 300px;
            color: #ffffff;
            font-weight: bold;
        }
        .career-paragraph {
            margin-bottom: 40px;
        }
        .side-price {
            align-items: center;
            justify-content: center;
            img {
                height: 60px;
                margin-right: 20px;
            }
            h4 {
                color: $base-red;
                font-weight: 700;
                font-size: 24px;
                padding-right: 20px;
            }
        }
        h5 {
            font-weight: 700;
            margin-top: 40px;
            max-width: 300px;
            margin-bottom: 80px;
            color: #fff;
        }
    }
    .small-container-about-text {
        h3 {
            color: $base-blue;
            font-size: 30px;
            padding-bottom: 30px;
            border-bottom: 2px solid #dcdcdc;
            margin-bottom: 30px;
            b {
                display: block;
                font-weight: 700;
                font-size: 36px;
            }
        }
        p {
            color: $base-gray;
            margin-bottom: 20px;
            padding-right: 150px;
            font-weight: 600;
            font-size: 15px;
            line-height: 1.5;
        }
        form {
            margin-top: 40px;
            max-width: 100%;
            width: 100%;
            label {
                display: block;
            }
            input {
                color: #666666;
                font-size: 14px;
                padding: 15px;
                font-weight: 700;
                outline: 0;
                border: 0;
                background-color: #f1f1f1;
                max-width: 210px;
                width: 100%;
                margin-right: 10px;
                margin-bottom: 15px;
            }
            input.submit {
                background-color: $base-red;
                color: #fff;
                cursor: pointer;
            }
            .check-box-field {
                display: inline-block;
                margin-bottom: 15px;
                margin-right: 10px;
                position: relative;
                width: 100px;
                vertical-align: top;
                height: 45px;
                input,
                span {
                    position: absolute;
                }
                input {
                    margin: 0;
                    height: 45px;
                    top: 0;
                    z-index: 2;
                    opacity: 0;
                    cursor: pointer;
                }
                span.checked-box {
                    font-weight: 700;
                    font-size: 14px;
                    color: #666666;
                    top: 0px;
                    background-color: #ffffff;
                    height: 45px;
                    line-height: 45px;
                    width: 100px;
                    text-align: center;
                    border-bottom: 5px solid #f1f1f1;
                }
            }
            .check-box-field.checked {
                span.checked-box {
                    border-bottom: 5px solid #001d68;
                }
            }
            .check-box-field.last-checklist {
                width: 136px;
                span.checked-box {
                    width: 136px;
                }
            }
           
        }
    }
    .logo-ergo {
        align-items: center;
        p {
            max-width: 440px;
            color: $base-red;
        }
        img {
            height: 60px;
            margin-right: 30px;
            margin-bottom: 20px;
        }
    }
}

.main-offer_rowbx--block {
    color: #ffffff;
    max-width: 300px;
    padding: 5px 25px;
    height: 250px;
    background-color: $base-red;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    a,
    img {
        height: 50px;
        margin-right: auto;
        vertical-align: middle;
    }
    img.arrow-box {
        height: 30px;
    }
    h4 {
        display: inline-block;
        font-size: 22px;
        font-weight: 700;
        max-width: 155px;
        vertical-align: middle;
        margin-right: auto;
    }
}

.main-offer_rowbx--block.block1 {
    background-color: #1a61b9;
}

.main-offer_rowbx--block.block2 {
    background-color: #0f2e7d;
}

.main-offer_rowbx--block.block3 {
    background-color: #000f36;
}

.main-offer_rowbx--block.block4 {
    background-color: #001d68;
}

.main-offer_rowbx--block.block5 {
    background-color: #001d68;
    h3 {
        color: $base-red;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        max-width: 240px;
        margin-right: auto;
        height: 100px;
    }
    a {
        vertical-align: bottom;
        display: inline-block;
        margin-left: -62px;
        height: 56px;
        img {
            height: 22px;
        }
    }
    a.view {
        margin-right: auto;
        height: auto;
        margin-left: 0;
        span {
            font-size: 14px;
            font-weight: 700;
            color: $base-red;
            text-transform: uppercase;
        }
    }
}

.main-offer_rowbx--block.block6 {
    background-image: url('../img/bg-box6.png');
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.main-offer_rowbx--block.block6 .special-block {
    width: 100px;
    height: 100px;
    background: #001d68;
    line-height: 100px;
    text-align: center;
}

.main-offer_rowbx--block.block2 p,
.main-offer_rowbx--block.block3 p {
    color: #4b6ec9;
}

.main-page {
    main {
        padding-left: 0;
        padding-right: 0;
    }
    .main-offer_rowbx {
        max-width: 900px;
        width: 100%;
        margin-bottom: 40px;
    }
    footer {
        margin-top: 0;
    }
}

footer {
    margin-top: 60px;
    padding-bottom: 40px;
    .footer-tags {
        max-width: 1440px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid #dee2eb;
        padding-bottom: 30px;
        .footer-tags_box {
            margin-top: 40px;
            padding-right: 40px;
            font-size: 14px;
            h3 {
                font-weight: 700;
                color: #000000;
                margin-bottom: 20px;
            }
            ul {
                li {
                    margin-bottom: 10px;
                    a {
                        color: #b8b8b8;
                    }
                }
            }
        }
        .footer-tags_box:last-child {
            padding-right: 0;
        }
    }
    .footer-description {
        padding-top: 30px;
        max-width: 1440px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        img {
            max-width: 150px;
        }
        p {
            font-weight: 700;
            font-size: 12px;
            padding-top: 10px;
        }
    }
}

header.about {
    background: url('../img/bg-head.png');
    background-size: cover;
    padding: 0;
    h2 {
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        padding-bottom: 60px;
        padding-top: 60px;
        padding-left: 15%;
    }
    .main-header {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #ffffff;
    }
}

main.about {
    padding-left: 0;
    padding-right: 0;
    section.contact {
        max-width: 930px;
    }
    section {
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
        .small-container-about-text {
            max-width: 600px;
            p {
                padding-right: 0;
            }
        }
        .small-container-about-text.price {
            max-width: 700px;
            width: 100%;
        }
        .small-container-about-text.offer {
            p {
                padding-right: 150px;
            }
        }
        .small-container-about-text.career {
            .accordion-container {
                max-width: 450px;
                margin-right: 150px;
                h3 {
                    cursor: pointer;
                    background-color: $base-red;
                    padding-left: 20px;
                    border: none;
                    outline: 0;
                    font-size: 16px;
                    color: #ffffff;
                    height: 45px;
                    line-height: 45px;
                    font-weight: 700;
                }
                .ui-accordion-header-icon {
                    content: url('../img/ico-work.png');
                    width: 26px;
                    height: 26px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 20px;
                }
                .ui-accordion-content {
                    margin-bottom: 20px;
                }
            }
            .small-container-about-info {
                margin-top: 0;
            }
            .main-carrer-paragraph {
                color: $base-blue;
                font-weight: 700;
                font-size: 18px;
                padding-right: 25px;
            }
            h4 {
                color: $base-red;
                font-weight: 700;
                font-size: 24px;
                margin-top: 50px;
                margin-bottom: 30px;
                padding-right: 25px;
            }
            small {
                font-size: 15px;
                color: $base-blue;
                font-weight: 700;
                padding-right: 25px;
            }
        }
        .small-container-about-info {
            max-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 48px;
            a {
                width: 100%;
                display: block;
                padding-left: 30px;
                background-color: $base-red;
                line-height: 50px;
                height: 50px;
                color: #ffffff;
                font-weight: 700;
                text-align: center;
                font-size: 13px;
            }
            p.small-container-about-info_paragraph {
                font-size: 18px;
                font-weight: 700;
                color: $base-red;
                line-height: 24px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .offer-paragraph {
                color: $base-blue;
                line-height: 24px;
                font-weight: 700;
                margin-top: 30px;
            }
            .offer-bg-link {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 400px;
                height: 280px;
                width: 100%;
                background: url('../img/bg-offer-side.png');
                background-size: cover;
                background-position: center;
                a {
                    padding-right: 15px;
                    padding-left: 15px;
                    height: auto;
                    line-height: 40px;
                    max-width: 320px;
                }
            }
            .offer-bg-link.prv {
                height: 500px;
                background: url('../img/bg-offer-side2.png');
                background-size: cover;
                background-position: center;
            }
        }
        .small-container-about-info.ube {
            align-items: flex-start;
            .ico-polis {
                margin-left: 20px;
            }
            p.small-container-about-info_paragraph {
                display: inline-block;
            }
            img.ico {
                height: 50px;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-right: 20px;
            }
        }
        .small-about-box {
            color: $base-blue;
            max-width: 330px;
            width: 100%;
            margin-bottom: 30px;
            margin-right: auto;
            img {
                height: 40px;
                margin-right: 10px;
            }
            p {
                font-size: 16px;
                b {
                    display: block;
                    font-weight: 700;
                    font-size: 24px;
                    margin-bottom: 5px;
                }
            }
        }
        .small-about-box.inter {
            p {
                font-weight: 700;
                margin-top: 30px;
            }
        }
        .small-about-box.inter-map {
            position: relative;
            img {
                height: auto;
            }
            p {
                padding: 15px;
                background-color: $base-red;
                color: #fff;
                position: absolute;
                top: 200px;
                font-weight: 700;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
    section.price {
        width: 100%;
        max-width: 700px;
    }
}

section.clients {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    .small-container-about-text.clients {
        max-width: 1000px;
        .our-clients {
            flex-direction: column;
            .client-box {
                display: flex;
                flex-wrap: wrap;
            }
            img {
                height: 35px;
                margin: 40px 50px 40px 0;
            }
        }
    }
    .our-clients-opinion {
        margin-top: 100px;
        h3 {
            color: $base-red;
            font-weight: 700;
            border: 0;
            margin-bottom: 0;
            padding-bottom: 40px;
        }
        .our-clients-opinion_slider {
            .opinion-slide {
                outline: 0;
                border: 2px solid #ebebeb;
                position: relative;
                z-index: 1;
                padding: 20px;
                margin-top: 50px;
                margin-right: 15px;
                img.avatar {
                    position: absolute;
                    left: 50px;
                    top: -50px;
                    z-index: 2;
                    height: 100px;
                    margin-left: 0;
                }
                img {
                    margin-left: auto;
                    height: 40px;
                }
                p {
                    padding: 0;
                    margin-top: 50px;
                    color: #878787;
                    max-width: 300px;
                }
                h4 {
                    color: $base-red;
                }
                h4,
                p {
                    font-weight: bold;
                    font-size: 14px;
                }
                small {
                    font-size: 12px;
                    color: #a8a8a8;
                }
            }
            .slick-prev {
                display: block;
                top: -55px;
                left: 250px;
            }
            .slick-next {
                display: block;
                top: -55px;
                left: 300px;
            }
            .slick-next:before,
            .slick-prev:before {
                content: ' ';
                width: 40px;
                height: 40px;
                background-size: cover;
                background-position: center;
                display: block;
                opacity: 1;
            }
            .slick-prev:before {
                background-image: url('../img/ico-left.png');
            }
            .slick-next:before {
                background-image: url('../img/ico-right.png');
            }
            .slick-prev.slick-disabled:before,
            .slick-next.slick-disabled:before {
                opacity: 1;
            }
        }
    }
}

main.about {
    section.contact {
        .small-container-about-text {
            p {
                font-weight: 700;
                line-height: 1.2;
                font-size: 15px;
            }
        }
        .small-container-about-info {
            max-width: 330px;
            a {
                padding-left: 10px;
                padding-right: 30px;
                text-align: left;
                max-width: 330px;
            }
        }
        .small-about-box {
            position: relative;
            height: 400px;
            margin-bottom: 0;
            .consultant {
                max-width: 330px;
                width: 100%;
                height: 100%;
            }
            .phone-consultant {
                position: absolute;
                z-index: 2;
            }
            p.phone-consultant {
                bottom: 65px;
                max-width: 300px;
                background-color: $base-red;
                color: #fff;
                padding: 20px;
                font-weight: 700;
            }
            a.phone-consultant {
                bottom: 0px;
                max-width: 150px;
            }
        }
        .small-about-box.map {
            height: auto;
            img {
                max-width: 330px;
                width: 100%;
                height: auto;
                margin-top: 20px;
            }
            p {
                background-color: $base-red;
                color: #fff;
                padding: 20px;
                position: absolute;
                top: 100px;
                z-index: 3;
                font-weight: 700;
                font-size: 13px;
            }
        }
        form {
            max-width: 500px;
            width: 100%;
            padding-right: 15px;
            input[type="text"] {
                display: inline-block;
                margin-right: 15px;
                max-width: 230px;
                width: 100%;
            }
            input.mail-phone {
                margin-right: 0;
            }
            input[type="text"],
            textarea {
                padding: 15px;
                color: #666666;
                background-color: #f1f1f1;
                margin-bottom: 20px;
            }
            input,
            textarea {
                outline: 0;
                border: 0;
                font-size: 14px;
                font-weight: 700;
            }
            textarea {
                width: 100%;
                min-height: 300px;
                display: block;
            }
            input.submit {
                padding: 20px;
                background-color: $base-red;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

main {
    aside {
        .conact-info {
            margin-bottom: 40px;
            max-width: 280px;
            width: 100%;
            .contact-info_block {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                p {
                    margin-top: 0;
                    font-size: 14px;
                    a {
                        color: #ffffff;
                    }
                }
                img {
                    margin-right: 15px;
                    width: 35px;
                }
                .contact-info_block--text p {
                    margin-top: 5px;
                }
            }
        }
    }
}

@media (max-width: 1480px) {
    main .main-row .banner-container_form {
        form {
            max-width: 370px;
        }
    }
}

@media (min-width: 1200px) {
    .main-row {
        padding-top: 50px;
        padding-bottom: 50px;
        background: url(../img/bg-tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    main.about section .small-container-about-text.career {
        max-width: 1440px;
    }
    .banner-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        .banner-container_box--block.primary-block {
            h3 {
                margin-left: 75px;
            }
            .c-arrow {
                max-width: 170px;
            }
        }
    }
    .main-offer_rowbx--block.special {
        margin-left: 300px;
        position: absolute;
        top: -250px;
        
    }
    .main-page .main-offer_rowbx {
        margin-bottom: 0;
        position: relative;
    }
    .banner-container_box {
        margin-left: 120px;
        margin-bottom: 0;
        margin-top: 60px;
    }
    .main-page {
        .main-offer {
            display: flex;
            justify-content: space-between;
        }
    }
}
@media (min-width: 1600px) {
    main.about section .small-container-about-text p {
        padding-right: 50px;
    }
    .main-row {
        padding-top: 200px;
        padding-bottom: 150px;
    }
}
@media (min-width: 1400px) {
    main.about section .small-container-about-text p {
        padding-right: 50px;
    }
    .main-row {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

@media (max-width: 1080px) {
    main.about section .small-container-about-text.career .accordion-container {
        padding-right: 0;
    }
    .small-container-about-text.clients .our-clients .client-box {
        max-width: 600px;
    }
    .our-clients-opinion_slider {
        max-width: 780px;
    }
}
@media (min-width: 517px) and (max-width: 1516px) {
    main .main-offer .ask-que {
        padding-top: 10px;
    }
    main .main-offer .ask-que h4 {
        font-size: 36px;
    }
    main .main-offer .ask-que img {
        height: 70px;
    }
    main .main-offer .ui-accordion h3 {
        font-size: 18px;
        padding-bottom: 20px;
    }
}
@media (max-width: 1516px) {
    .main-page .main-offer_rowbx {
        max-width: 650px;
    }
    main .small-offer-box .small-offer-box_block {
        padding: 20px 0 20px 20px;
        font-size: 14px;
        max-width: 280px;
    }
    main.about section.contact form textarea {
        max-width: 370px;
    }
    main .main-offer, 
    footer .footer-tags,
    footer .footer-description,
    header .small-header,
    header .main-header {
        align-items: center;
        max-width: 1190px;
        padding-left: 30px;
        padding-right: 30px;
    }
    main .main-offer .ask-que {
        padding-top: 10px;
    }
    main.about section.contact {
        max-width: 930px;
    }
    main.about section .small-container-about-info.offer {
        max-width: 320px;
    }
    main.about section.contact .small-container-about-text p {
        padding-right: 30px;
    }
    main.about section .small-container-about-text.offer p {
        padding-right: 70px;
    }
    main.about section .small-container-about-info {
        max-width: 300px;
        margin-top: 39px;
    }
    main.about section .small-container-about-info.offer.mdz {
        margin-top: 36px;
    }
    main.about section .small-container-about-info a {
        padding-left: 0;
    }
    main.about section .small-container-about-text {
        max-width: 450px;
    }
   
    section.clients .small-container-about-text.clients {
        max-width: 700px;
    }
    main .small-container-about-text h3 b {
        font-size: 27px;
    }
    main .small-container-about-text h3 b.mdz {
        font-size: 24px;
    }
    main.about section .small-about-box {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    main.about section .small-about-box img {
        height: 40px;
        margin-bottom: 5px;
    }
    main.about section .small-about-box p b {
        display: block;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 5px;
        text-align: center;
    }
    main.about section .small-container-about-info p.small-container-about-info_paragraph {
        text-align: center;
    }
    main.about section .small-container-about-text.career .accordion-container {
        max-width: 380px;
        margin-right: 70px;
    }
}

@media (min-width: 1170px) and (max-width: 1220px) {
    main.about section .small-container-about-text.career {
        max-width: 700px;
    }
}

@media (max-width: 1280px) {
    main .main-row .banner-container_form form {
        max-width: 320px;
    }
    header .main-header_logo {
        max-width: 300px;
    }
    header .main-header_refer {
        font-size: 24px;
    }
}

@media (max-width: 1200px) {
    main.about section.contact {
        flex-direction: column;
    }
    main .main-offer, footer .footer-tags, footer .footer-description, header .small-header, header .main-header {
        max-width: 960px;
    }
    main .main-row {
        background: #001d68;
        padding-bottom: 50px;
    }
    .c-arrow {
        display: none;
    }
    main .main-row .banner-container .banner-container_box {
        margin-top: 40px;
        margin-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }
    main .main-row .banner-container_form form {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-page {
        .main-offer {
            flex-wrap: wrap;
        }
        .banner-container {
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        }
        main .main-row .banner-container .banner-container_box {
            margin-left: 0;
        }
    }
    .small-offer-box {
        margin-top: 40px;
    }
    .small-header_menu,
    main .main-offer .ask-que
        {
        justify-content: center;
    }
    .main-page .main-offer_rowbx,
    .small-header_menu,
    main .main-offer .ask-que {
        margin-left: auto;
        margin-right: auto;
    }
    .main-page .main-offer_rowbx {
        max-width: 900px;
    }
    main .small-offer-box .small-offer-box_block {
        max-width: 420px;
    }
}

@media (max-width: 1170px) {
    header .main-header {
        flex-direction: column;
    }
    main.about section .small-container-about-text.offer p,
    main .small-container-about-text h3 {
        padding-right: 0px;;
    }
    header.about h2 {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    header .main-header_refer {
        text-align: center;
    }
    header .small-header ul li a {
        font-size: 14px;
        padding: 7px;
        line-height: 30px;
        font-weight: bold;
        max-width: 235px;
        text-align: center;
    }
    header .main-header_refer p {
        text-align: center;
    }
    main.about section {
        padding-left: 30px;
        max-width: 960px;
        padding-right: 30px;
    }
    main.about section .small-container-about-info {
        max-width: 500px;
        img {
            margin-right: auto;
        }
    }
    main.about section .small-about-box {
        flex-direction: row;
        justify-content: flex-start;
        img {
            margin-right: 20px;
        }
    }
}

@media (max-width: 960px) {
    main.about section .small-container-about-text,
    main.about section .small-container-about-info {
        max-width: 400px;
    }
    main.about section .small-container-about-text {
        img {
            margin-right: auto;
        }
    }
    main.about section .small-about-box {
        flex-direction: column;
        justify-content:center;
        align-items: center;
        img {
            margin-right: 20px;
        }
    }
    main.about section .small-about-box p {
        text-align: center;
    }
    main.about section .small-about-box p b {
        text-align: center;
    }
    main aside {
        max-width: 350px;
    }
}
@media (max-width: 1170px) {
    .small-offer-box {
        h5 {
            width: 200px;
            margin-top: 10px;
        }
    }
    .img-box {
        width: 55px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
    }
    main.about {
        width: 100%;
        aside {
            max-width: 100%;
            width: 100%;
            align-items: center;
            .side-menu {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                max-width: 600px;
                li {
                    max-width: 100%;
                }
            }
            h3,
            p {
                max-width: 100%;
                text-align: center;
            }
        }
    }
}
@media (max-width: 868px) {
    .small-offer-box {
        h5 {
            width: 200px;
            margin-top: 10px;
        }
    }
    .img-box {
        width: 55px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
    }
    main.about {
        width: 100%;
        aside {
            max-width: 100%;
            width: 100%;
            align-items: center;
            .side-menu {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                max-width: 600px;
                li {
                    max-width: 100%;
                }
            }
            h3,
            p {
                max-width: 100%;
                text-align: center;
            }
        }
    }
    header.about h2 {
        padding-left: 25px;
        padding-right: 25px;
    }
    main.about section .small-container-about-text,
    main.about section .small-container-about-info {
        max-width: 100%;
    }
    main.about section .small-container-about-info {
        align-items: flex-start;
    }
}

@media (min-width: 641px) {
    header .main-header_menu ul {
        flex-direction: row;
        width: auto;
    }
    .ico-menu {
        display: none;
    }
}

@media (max-width: 612px) {
    main .small-offer-box .small-offer-box_block {
        max-width: 400px;
        padding: 30px;
        font-size: 16px;
        .img-box {
            max-width: 150px;
        }
    }
}
/* @media (max-width: 766px) {
    main .small-container-about-text form input {
        max-width: 97%;
    }
    main.about section {
        margin-left: 0;
    }
    main.about section .small-container-about-text.offer p, 
    main .small-container-about-text h3,
    main.about section .small-container-about-info .offer-paragraph,
    main.about section .small-container-about-text.career .main-carrer-paragraph,
    main.about section .small-container-about-text p,
    main.about section .small-container-about-text.career .accordion-container .ui-accordion-content, 
    main.about section .small-container-about-text.career h4, 
    main.about section .small-container-about-info p.small-container-about-info_paragraph,
    main aside p,
    main.about section .small-about-box,
    header .main-header_refer,
    main.about section .small-container-about-text.career small,
    .our-clients-opinion_slider, 
    section.clients .small-container-about-text.clients .our-clients,
    main.about section.contact form,
    main.about section.contact .small-container-about-info {
        padding-right: 25px;
        padding-left: 25px;
        text-align: left;
    }
    main aside .conact-info .contact-info_block .contact-info_block--text p {
        padding: 0;
    }
    main aside .conact-info .contact-info_block  {
        padding-left: 25px;
    }
    header .main-header_refer {
        font-size: 22px;
        text-align: center;
    }
    main.about section .small-container-about-info .offer-bg-link a {
        font-size: 12px;
    }
    main.about section .small-container-about-info a {
        margin-left: 25px;
        max-width: 250px;
    }
    main.about section.contact .small-container-about-info a {
        margin-left: 0;
    }
    main.about section.contact .small-about-box {
        padding: 0;
    }
    section.clients .our-clients-opinion .our-clients-opinion_slider .slick-prev {
        left: 270px;
    }
    section.clients .our-clients-opinion .our-clients-opinion_slider .slick-next {
        left: 320px;
    }
    header.about .small-header, header.about .main-header {
        padding-left: 0;
    }
    main.about section .small-container-about-text.career .accordion-container h3 {
        margin-right: 25px;
        margin-left: 25px;
        font-size: 12px;
        width: 250px;
    }
    main.about section .small-container-about-text.career .accordion-container .ui-accordion-header-icon
     {
        margin-right: 10px;
    }
    main.about section .small-container-about-text.career .accordion-container {
        margin-right: 40px;
    }
    footer .footer-description {
       p {
           text-align: left;
           font-size: 11px;
       }
    }
    main aside .side-menu li {
        padding-left: 25px;
    }
}
*/
@media (max-width: 840px) {
    .main-page header .small-header_menu ul li {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .small-header_menu ul {
        flex-direction: column;
    }
    header .small-header_menu ul li {
        margin-bottom: 20px;
    }
    header .small-header_menu ul li a {
        width: 320px;
    }
    main .main-row .banner-container_form form {
        background: #000f36;
    }
    main .main-row .banner-container .banner-container_box h1 {
        font-size: 36px;
    }
    main .main-row .banner-container .banner-container_box span {
        display: none;
    }
    aside {
        padding-left: 3%;
        padding-right: 3%;
        justify-content: flex-start;
    }
    .our-clients-opinion_slider {
        max-width: 600px;
    }
}

@media (max-width: 480px) {
    header .small-header_menu ul li a {
        width: 250px;
    }
}

@media (max-width: 560px) {
    .main-offer_rowbx--block h4 {
        margin-left: 0;
    }
    footer .footer-tags {
        
        .footer-tags_box {
            padding-right: 0;
        }
    }
}

@media (max-width: 976px) {
    .main-page .main-offer_rowbx {
        max-width: 600px;
    }
    main .small-offer-box,
    footer .footer-tags,
    footer .footer-description,
    main .main-offer .ask-que {
        max-width: 660px;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-start;
    }
    footer .footer-tags .footer-tags_box {
        font-size: 13px;
    }
    main .small-offer-box .small-offer-box_block {
        max-width: 300px;
    }
}

@media (min-width: 417px) and (max-width: 676px) {
    main .small-offer-box .small-offer-box_block {
        max-width: 100%;
    }
    .main-page .main-offer_rowbx {
        max-width: 340px;
        .main-offer_rowbx--block {
            max-width: 170px;
            height: 170px;
            img {
                height: 30px;
            }
            h4, h3 {
                font-size: 15px;
                height: auto;
            }
            a {
                img {
                    height: 20px;
                }
            }
        p {
            font-size: 11px;
        }
        a {
            height: 30px;
        }
    }
}
.main-offer_rowbx--block.block5 {
 position: relative;
    a {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        height: 0px;
        margin-top: 20px;
    }
    a.view {
        position: relative;
    }
}
}

@media (max-width: 416px) {
    .main-offer_rowbx--block {
        max-width: 100%;
        height: 250px;
    }
    .main-offer_rowbx--block.block5 a {
        margin-left: 0;
        height: 30px;
        img {
            height: 30px;
        }
    }
}

@media (min-width: 869px) and (max-width: 1254px) {
    main.about section .small-container-about-text {
        max-width: 410px;
    }
    main.about section .small-container-about-info.offer {
        margin-top: 39px;
    }
}

@media (min-width: 961px) and (max-width: 1170px) {
    main.about section {
        .small-container-about-text {
            max-width: 500px;
        }
    }
}

@media (min-width: 868px) and (max-width: 1155px) {
    main.about.price {
        flex-wrap: nowrap;
        aside {
            max-width: 100%;
        }
    }
}

@media (max-width: 639px) {
    .small-container-about-text.clients .our-clients .client-box {
        max-width: 450px;
    }
    .our-clients-opinion_slider {
        max-width: 500px;
    }
}

@media (max-width: 561px) {
    .our-clients-opinion_slider {
        max-width: 300px;
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    } 
    main .main-offer .ask-que {
        max-height: 700px;
        justify-content: flex-start;
    }
    .main-offer_rowbx--block.block6 {
        justify-content: flex-start;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .small-container-about-text.clients .our-clients .client-box {
        max-width: 200px;
    }
}

@media (min-width: 432px) and (max-width: 655px) {
}

@media (min-width: 300px) and (max-width: 640px) {
    header .small-header_menu ul li {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 0;
    }
    main.price {
        .small-container-about-text {
            form {
                label {
                    display: flex;
                    flex-direction: column;
                }
            } 
        }
    }
    .main-header_menu {
        display: none;
    }
    .ico-menu {
        display: block;
        height: 50px;
        cursor: pointer;
    }
    header .main-header_menu ul {
        text-align: center;
    }
    main.about section .small-container-about-text.career .main-carrer-paragraph, 
    main.about section .small-container-about-text.career small,
    main.about section .small-container-about-text.career h4 {
        max-width: 300px;
    }
}

@media (max-width: 431px) {
    .main-offer_rowbx--block,
    .main-offer_rowbx--block h4 {
        max-width: 100%;
    }
    .main-offer_rowbx--block h4 {
        font-size: 20px;
    }
    .main-offer_rowbx--block {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .main-offer_rowbx--block.block6 {
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width: 330px) {
    .main-offer_rowbx--block.block5 a {
        margin-left: 0;
        height: 24px;
    }
}
