<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <title>LAYOUT</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a href="#" class="navbar-brand text-uppercase">
                    <div class="row">
                        <img class="col img-fluid" src="./assets/logo.png" alt="">
                    Simple Sign
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">&#9776;</span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">O nas</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="#">Oferta</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="#">Kontakt</a>
                                    </li>
                    </ul>
                </div>
            </nav>
            <div class="jumbotron">
                <h1 class="display-4">Harbin Opera House</h1>
               <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p class="lead">
                  <a class="btn btn-outline-primary btn-lg text-uppercase" href="#" role="button">Zobacz ten projekt</a>
                </p>
              </div>
              
        </div>
    </header>
    <main class="py-5">
        <div class="containter text-center">
                        <h6 class="text-uppercase py-4">O nas</h6>
                        <h2>
                            Do naszej pracy podchodzimy <br> z zamiłowaniem i zaangażowaniem
                        </h2>
                        <p class="lead py-4">Jesteśmy konstruktorami budowlanymi, jako biuro inżynierskie działamy od 2006 roku. <br>
                            Zajmujemy się projektowaniem konstrukcji budowlanych, wykonujemy projekty konstrukcyjne <br>
                            w zakresie budownictwa przesysłowego i ogólnego oraz ekspertyzy budowlane
                        </p>
                        <p class="lead">
                                <a class="btn btn-outline-secondary btn-lg text-uppercase" href="#" role="button">Dowiedz się więcej</a>
                              </p>
                              <div class="container text-center pt-5 pb-4">
                                    <h6 class="text-uppercase py-4">Najnowsze realizacje</h6>
                                    <div class="row">
                                            <figure class="figure col-lg-4 col-md-6">
                                                    <img src="./assets/img1.png" alt="" class="figure-img img-fluid">
                                                    <figcaption class="figure-caption">
                                                        <h4>Nazwa projektu</h4>
                                                        <p>Miejsce Realizacji</p>
                                                    </figcaption>
                                                </figure>
                                                <figure class="figure col-lg-4 col-md-6">
                                                        <img src="./assets/img2.png" alt="" class="figure-img img-fluid">
                                                        <figcaption class="figure-caption">
                                                            <h4>Nazwa projektu</h4>
                                                            <p>Miejsce Realizacji</p>
                                                        </figcaption>
                                                    </figure>
                                                    <figure class="figure col-lg-4 col-md-6">
                                                            <img src="./assets/img3.png" alt="" class="figure-img img-fluid">
                                                            <figcaption class="figure-caption">
                                                                <h4>Nazwa projektu</h4>
                                                                <p>Miejsce Realizacji</p>
                                                            </figcaption>
                                                        </figure>
                                                        <figure class="figure col-lg-4 col-md-6">
                                                                <img src="./assets/img4.png" alt="" class="figure-img img-fluid">
                                                                <figcaption class="figure-caption">
                                                                    <h4>Nazwa projektu</h4>
                                                                    <p>Miejsce Realizacji</p>
                                                                </figcaption>
                                                            </figure>
                                                            <figure class="figure col-lg-4 col-md-6">
                                                                    <img src="./assets/img5.png" alt="" class="figure-img img-fluid">
                                                                    <figcaption class="figure-caption">
                                                                        <h4>Nazwa projektu</h4>
                                                                        <p>Miejsce Realizacji</p>
                                                                    </figcaption>
                                                                </figure>
                                                                <figure class="figure col-lg-4 col-md-6">
                                                                        <img src="./assets/img6.png" alt="" class="figure-img img-fluid">
                                                                        <figcaption class="figure-caption">
                                                                            <h4>Nazwa projektu</h4>
                                                                            <p>Miejsce Realizacji</p>
                                                                        </figcaption>
                                                                    </figure>
                                                                    <p class="lead mx-auto pt-4">
                                                                            <a class="btn btn-outline-secondary btn-lg text-uppercase" href="#" role="button">Zobacz całe portfolio</a>
                                                                          </p>
                                    </div>
                              </div>
                              
        </div>
    </main>
    <footer class="py-5">
        <div class="container py-5">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                        <a href="#" class="navbar-brand text-uppercase">
                                <div class="row">
                                    <img class="col img-fluid" src="./assets/logo.png" alt="">
                                Simple Sign
                                </div>
                            </a>
                            <p class="pt-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, porro! Corrupti cupiditate repudiandae animi rerum architecto quia maiores accusantium incidunt minus dolor!
                            </p>
                </div>
                <div class="col-lg-3 text-right">
                    <h6 class="text-uppercase">Bądźmy w kontakcie</h6>
                    <p class="mb-0 pt-4"><a href="tel:+48 589 609 805">+48 589 609 805</a></p>
                    <p class="mb-0"><a href="mailto:poland.architects@architecture.com">poland.architects@architecture.com</a></p>
                    <p class="mb-0">ul. Przykładowa 54/16, Wrocław</p>
                </div>
                
            </div>
            <hr class="my-4">
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <h6 class="text-uppercase">Simple Sign (C) All rights reserved</h6>
                </div>
                <div class="col-lg-3 col-md-4 text-right">
                    <div class="container pr-0">
                            <div class="row">
                                    <div class="col-12">
                                        <div class="row social-icons">
                                    <div class="col text-center"><i class="fa fa-behance"></i></div>
                                    <div class="col text-center"><i class="fa fa-twitter"></i></div>
                                    <div class="col text-center"><i class="fa fa-facebook"></i></div>
                                    <div class="col text-center"><i class="fa fa-pinterest-p"></i></div>
                                </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="./js/bootstrap.min.js"></script>
</html>